@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(206, 176, 121);
    --primary-color-darker: rgb(209, 163, 78);

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
    outline: 0;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

form button:active {
    background-color: green;
}

.titulos {
    display: flex;
    gap: 300px;
}

.subtitulo {
    font-size: 20px;
}

.textos {
    display: flex;
    gap: 180px;
}

.txt-imc p {
    margin: 10px auto;
    margin-top: 0px;
    font-size: 18px;
}

.txt-resultado p {
    margin: 10px auto;
    margin-top: 0px;
    font-size: 18px;
}

.paragrafo-resultado {
    background: rgb(174, 209, 174);
    padding: 10px 20px;
}

.bad {
    background: rgb(209, 174, 174);
    padding: 10px 20px;
}