body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:chocolate;
}

.container {
    background-color: brown;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 30px;
    border-radius: 10px;
}

.paragrafos {
    display: block;
    margin: 30px;
    color: white;
    font-weight: bold;
}